<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="template :: dochead"></head>

<body>
	<div th:replace="template :: expense-nav"></div>
	
<h1>Summary by Month</h1>

<p th:text="'January:  ' + ${janTotal}"></p>
<p th:text="'February:  ' + ${febTotal}"></p>
<p th:text="'March:  ' + ${marTotal}"></p>
<p th:text="'April:  ' + ${aprTotal}"></p>
<p th:text="'May:  ' + ${mayTotal}"></p>
<p th:text="'June:  ' + ${junTotal}"></p>
<p th:text="'July  ' + ${julTotal}"></p>
<p th:text="'August:  ' + ${augTotal}"></p>
<p th:text="'September  ' + ${sepTotal}"></p>
<p th:text="'October:  ' + ${octTotal}"></p>
<p th:text="'November:  ' + ${novTotal}"></p>
<p th:text="'December:  ' + ${decTotal}"></p>
</body>


</html>